@layer tailwind-base, primereact, tailwind-utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import 'primereact/resources/themes/lara-light-blue/theme.css';

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}


.bg-body{
  background-color: black;
}

@font-face{
  font-family: Geist-Bold;
  src: url("/fonts/Geist-Bold.ttf");
}

@font-face{
  font-family: Geist-Light;
  src: url("/fonts/Geist-Light.ttf");
}

@font-face{
  font-family: Geist-Medium;
  src: url("/fonts/Geist-Medium.ttf");
}

@font-face{
  font-family: Manrope-Bold;
  src: url("/fonts/Manrope-Bold.ttf");
}

@font-face{
  font-family: Aeonik-Light;
  src: url("/fonts/AeonikTRIAL-Light.otf");
}


